.banner {
  background-color: #008b8b;
  color: white;
  font-size: 30px;
  padding: 1px;
  margin: 0;
  width: auto;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
